---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { getLocaleStaticPaths } from "../../i18n/locales";

export function getStaticPaths() {
  return getLocaleStaticPaths();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { align = "center" } = Astro.props;

const sprintsData = [
// {
//  name: "Project ",
//  project_url: "https://github.com/myossp/project1"
//  project_doc_url: "https://docs.myossproject.com",
//  description: "This is an example project that will help you contribute to an OSS initiative!",
// level: "Beginner friendly, Some math knowledge",
// languages: "Python, Rust",
// maintainers_discord: ["username1", "username2"]
//  },
{
   name: "Skrub",
   project_url: "https://github.com/skrub-data/skrub/",
   project_doc_url: "https://skrub-data.org",
   description: "Skrub is a Python library to ease preprocessing and feature engineering for tabular machine learning. It allows easily applying scikit-learn estimators to complex pandas and polars dataframes.",
   level: "Any level",
   languages: "Python",
 },
{
   name: "PyLadiesCon Website Translation",
   project_url: "https://github.com/pyladies/global-conference-2025/",
   project_doc_url: "https://github.com/pyladies/global-conference-2025/blob/main/docs/translating.md",
   description: "This repo hosts the PyLadiesCon 2025 website, and we’re looking for contributors to help wrap untranslated text and add or update language files so the site becomes fully multilingual.",
   level: "Any level",
   languages: "Astro, HTML",
   maintainers_discord: ["vadal7373"]
 },
 {
   name: "DataJourney",
   project_url: "https://github.com/DataJourneyHQ/DataJourney",
   project_doc_url: "https://github.com/DataJourneyHQ/DataJourney/wiki/Contribute-to-DataJourney",
   description: "A friendly Design first Open Source Data Management Toolkit",
   level: "Beginner friendly",
   languages: "Python, HTML",
   maintainers_discord: ["sayantika_hq"]
 },
];

---

<Layout title="Sprints">
  <Container>
    <Sectionhead>
      <Fragment slot="subtitle">{t("Share, learn and contribute!")}</Fragment>
      <Fragment slot="title">Sprints</Fragment>
      <Fragment slot="description">
      {t("Sprints are informal coding sessions, and knowledge sharing where people gather together to work on Open-Source projects, suggest changes in existing libraries solve problems. A Sprint is an opportunity for learning and self-development while contributing to Open Source projects.")}
      <br/>
      <span set:html={t("We encourage maintainers to submit their projects by checking out our <a href=\"https://conference.pyladies.com/docs/speakers/sprints_guide/\" class=\"text-pinkpyladies\" target=\"_blank\">sprints guide</a>.")} />
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-5xl mt-10">
        {sprintsData.length === 0 && <div class="text-center dark:text-white"><h3>{t("-- No sprints added yet --")}</h3></div>}
      {sprintsData.map((sprint) => (
      <div class="rounded-md p-5 xl:p-8 ring-1 ring-gray-200 dark:bg-stone-950 dark:ring-gray-700">
        <a class="flex items-center" href={sprint.project_url}>
          <h3 class="text-md font-semibold leading-8 text-pinkpyladies mr-2">{sprint.name}</h3>
          <svg
             class="size-3 text-pinkpyladies"
             viewBox="0 0 16.284918 16.024687"
             version="1.1"
             stroke="currentColor"
             id="svg1"
             inkscape:version="1.4.2 (ebf0e940d0, 2025-05-08)"
             sodipodi:docname="url.svg"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview
               id="namedview1"
               pagecolor="#505050"
               bordercolor="#eeeeee"
               borderopacity="1"
               inkscape:showpageshadow="0"
               inkscape:pageopacity="0"
               inkscape:pagecheckerboard="0"
               inkscape:deskcolor="#d1d1d1"
               inkscape:document-units="mm"
               inkscape:zoom="6.2430976"
               inkscape:cx="13.615036"
               inkscape:cy="41.645993"
               inkscape:window-width="1920"
               inkscape:window-height="1080"
               inkscape:window-x="0"
               inkscape:window-y="0"
               inkscape:window-maximized="1"
               inkscape:current-layer="layer1" />
            <defs
               id="defs1">
              <marker
                 style="overflow:visible"
                 id="ArrowWideHeavy"
                 refX="0"
                 refY="0"
                 orient="auto-start-reverse"
                 inkscape:stockid="Wide, heavy arrow"
                 markerWidth="1"
                 markerHeight="1"
                 viewBox="0 0 1 1"
                 inkscape:isstock="true"
                 inkscape:collect="always"
                 preserveAspectRatio="xMidYMid">
                <path
                   style="fill:context-stroke;fill-rule:evenodd;stroke:none"
                   d="m 1,0 -3,3 h -2 l 3,-3 -3,-3 h 2 z"
                   id="path3" />
              </marker>
            </defs>
            <g
               inkscape:label="Layer 1"
               inkscape:groupmode="layer"
               id="layer1"
               transform="translate(-80.1806,-98.850984)">
              <path
                 style="fill:none;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#ArrowWideHeavy)"
                 d="M 84.836314,110.34535 95.311786,99.972611"
                 id="path1"
                 sodipodi:nodetypes="cc" />
              <path
                 style="fill:none;;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
                 d="M 86.545509,99.850984 H 81.1806 v 14.024686 h 14.284917 v -4.23639"
                 id="path2"
                 sodipodi:nodetypes="ccccc" />
            </g>
          </svg>
        </a>
        <p class="dark:text-white"><b>{t("Level:")}</b> {sprint.level}</p>
        <p class="dark:text-white"><b>{t("Languages:")}</b> {sprint.languages}</p>
        <div class="py-5">
        <p class="dark:text-white" set:html={sprint.description} />
        </div>
      </div>
      ))}
    </div>
  </Container>
</Layout>
